:root {
    /* COLOURS */
    --colour-one: #d639e9;
    --colour-two: #fcdc25;
    --colour-three: #ef43a4;
    --colour-four: #38bbea;
    --colour-five: #5e1e97;
    --colur-six: #17a3ae;
}

body {
    background-color: var(--colour-five);
    font-family: Kalam;
    color: #fff;
}

header {
    text-align: center;
}

h1,
h2,
.header__paragraph {
    font-family: 'Neucha', cursive;
    color: var(--colour-two);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 3em;
}

.header__paragraph {
    font-size: 2em;
}

.container {
    display: flex;
}

form {
    min-width: 40%;
    border: 4px solid var(--colour-two);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align-content: center; */
    margin: 1em;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40%;
    border: 4px solid var(--colour-two);
    display: flex;
    margin: 1em;
    padding: 1.3em;
}

.question__mark {
    width: 50%;
}

fieldset {
    border: 0px;
}

input.button {
    background-color: var(--colour-four);
    color: black;
    margin-top: 1em;
    font-size: 1em;
    padding: 0.3em 1.2em;
    border: 0px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

}